## OBJECTIVES

- Predict CVD and cancer caused mortality rates in England using air quality data available from Copernicus Atmosphere Monitoring Service
- The goal is to predict mortality rates (number of deaths per 100,000 people) for each English region using daily average measurements of ozone (O3), nitrogen dioxide (NO2), PM10 (particulate matter with diameter less than or equal to 10 micrometers), PM2.5 (diameter 2.5 micrometers or less) and temperature, data freely available from Copernicus Atmosphere Monitoring Service.

Poor air quality is a significant public health issue. The burden of particulate air pollution in the UK in 2008 was estimated to be equivalent to nearly 29,000 deaths at typical ages and an associated loss of population life of 340,000 life years lost.

In [29]:
import pandas as pd

#loading data

train  = pd.read_csv("../data_clean/health_ML/train.csv")
test = pd.read_csv("../data_clean/health_ML//test.csv")
test

         Id     region        date      O3    PM10    PM25     NO2      T2M
0     18404  E12000006  2012-05-28  75.980  20.876  19.123   9.713  290.787
1     18405  E12000006  2012-05-29  73.084  21.660  17.794   8.417  288.474
2     18406  E12000006  2012-05-30  59.350  21.925  17.699  10.878  289.889
3     18407  E12000006  2012-05-31  45.991  14.549  11.386  10.302  287.815
4     18408  E12000006  2012-06-01  52.210  11.208   9.545   8.598  287.627
...     ...        ...         ...     ...     ...     ...     ...      ...
7881  26285  E12000009  2014-12-27  57.951   6.422   3.683   6.082  277.350
7882  26286  E12000009  2014-12-28  41.479  14.802  10.989  14.361  275.209
7883  26287  E12000009  2014-12-29  32.742  17.722  12.177  17.386  275.772
7884  26288  E12000009  2014-12-30  39.006  16.997  10.754  15.317  276.465
7885  26289  E12000009  2014-12-31  51.444  18.538   9.248   8.701  280.509

[7886 rows x 8 columns]

In [30]:
#let's review our main dataset
train.info()

# RESULT: the train data has 18403 rows and 9 columns. 
# Out of these 9 columns, 6 have float64 class, 1 data object, 1 integer and 1 object
# *we can do a similar check for test data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18403 entries, 0 to 18402
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              18403 non-null  int64
 1   region          18403 non-null  object
 2   date            18403 non-null  object
 3   mortality_rate  18403 non-null  float64
 4   O3              18394 non-null  float64
 5   PM10            18394 non-null  float64
 6   PM25            15127 non-null  float64
 7   NO2             11833 non-null  float64
 8   T2M             18403 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 1.3+ MB

In [31]:
train.describe()

,Id,mortality_rate,O3,PM10,PM25,NO2,T2M
count,18403.000000,18403.000000,18394.000000,18394.000000,15127.000000,11833.000000,18403.000000
mean,9202.000000,1.301737,45.325857,13.712272,7.498714,12.045813,283.002235
std,5312.632838,0.304161,16.221330,7.421616,5.758357,8.296675,5.182186
min,1.000000,0.439000,0.988000,2.020000,0.904000,1.104000,265.562000
25%,4601.500000,1.102000,35.074250,8.656250,3.624000,6.056000,279.321500
50%,9202.000000,1.281000,45.836000,11.704500,5.636000,9.769000,283.270000
75%,13802.500000,1.474000,55.881000,16.589000,9.326500,15.858000,287.240500
max,18403.000000,2.841000,105.693000,60.627000,45.846000,76.765000,297.209000

In [32]:
# alternative way of checking dataset columns

print ("The train data has",train.shape)
print ("The test data has",test.shape)

The train data has (18403, 9)
The test data has (7886, 8)

In [33]:
# see what the data looks like

train.head(3000)

,Id,region,date,mortality_rate,O3,PM10,PM25,NO2,T2M
0,1,E12000001,2007-01-02,2.264,42.358,9.021,NaN,NaN,278.138
1,2,E12000001,2007-01-03,2.030,49.506,5.256,NaN,NaN,281.745
2,3,E12000001,2007-01-04,1.874,51.101,4.946,NaN,NaN,280.523
3,4,E12000001,2007-01-05,2.069,47.478,6.823,NaN,NaN,280.421
4,5,E12000001,2007-01-06,1.913,45.226,7.532,NaN,NaN,278.961
...,...,...,...,...,...,...,...,...,...
2995,2996,E12000009,2007-03-26,1.528,41.161,34.624,NaN,NaN,282.409
2996,2997,E12000009,2007-03-27,1.934,44.191,39.707,NaN,NaN,282.841
2997,2998,E12000009,2007-03-28,1.334,53.291,49.294,NaN,NaN,281.632
2998,2999,E12000009,2007-03-29,1.644,72.903,10.882,NaN,NaN,279.672
2999,3000,E12000009,2007-03-30,1.876,56.078,21.729,NaN,NaN,280.407

In [34]:
train.shape[0]

18403

In [35]:
# check if we have missing values in our data

nans = train.shape[0] - train.dropna().shape[0]
print ("%d rows have missing values in the train data" %nans)

nand = test.shape[0] - test.dropna().shape[0]
print ("%d rows have missing values in the test data" %nand)

6570 rows have missing values in the train data
0 rows have missing values in the test data

In [36]:
# Now let's check which columns have missing values
train.isnull().sum()

Id                   0
region               0
date                 0
mortality_rate       0
O3                   9
PM10                 9
PM25              3276
NO2               6570
T2M                  0
dtype: int64

In [37]:
# How many unique values does each column hold
categories = train.select_dtypes(include=['O'])

categories.apply(pd.Series.nunique)

region       9
date      2191
dtype: int64

#### Dealing with missing values

 - we identified that we had four columns where some values were missing
 - these columns affect our records, but we don't want to scap or lose them completely!
 - Let's impute these missing values with respective models
 - O3, PM10, NO2 - we imputed missing values using mean. 
 - PM25 and NO2 have a larger number of missing values. We don't want to  remove rows with missing data because we would loose data for all 2007 and 2008 . We will calculate mean for each month in the following years

In [38]:
#Convert date to date object
train['date'] = pd.to_datetime(train['date'])
test['date'] = pd.to_datetime(test['date'])

#Group the data by month and calculate the average pollutant concentration for each month during 2008-2012.
relevant_years_PM25 = train[(train['date'].dt.year >= 2008) & (train['date'].dt.year <= 2012)]
pm25_monthly_avg = relevant_years_PM25.groupby(relevant_years_PM25['date'].dt.month)['PM25'].mean().round(3)
# print('PM25', pm25_monthly_avg)

# impute missing values accordingly to avg for each month in 2007 

for index, row in train.iterrows():
    if pd.isnull(row['PM25']) and row['date'].year == 2007:
        month = row['date'].month
        train.at[index, 'PM25'] = pm25_monthly_avg[month]

# print(train['PM25'])

relevant_years_NO2 = train[(train['date'].dt.year >= 2009) & (train['date'].dt.year <= 2012)]
no2_monthly_avg = relevant_years_NO2.groupby(relevant_years_NO2['date'].dt.month)['NO2'].mean().round(3)
# print('no2',no2_monthly_avg)

# Check if PM25 values were imputed
print("Missing PM25 values after imputation for 2007:")
print(train[train['date'].dt.year == 2007]['PM25'].isnull().sum())

# impute missing values accordingly to avg for each month in 2007 and 2008

for index, row in train.iterrows():
    if pd.isnull(row['NO2']) and row['date'].year in [2007,2008]:
        month = row['date'].month
        train.at[index, 'NO2'] = no2_monthly_avg[month]

# Check if NO2 values were imputed
print("Missing NO2 values after imputation for 2007 and 2008:")
print(train[(train['date'].dt.year == 2007) | (train['date'].dt.year == 2008)]['NO2'].isnull().sum())

# Final check for missing data
print("Missing values after imputation:")
print(train.isnull().sum())

Missing PM25 values after imputation for 2007:
0
Missing NO2 values after imputation for 2007 and 2008:
0
Missing values after imputation:
Id                0
region            0
date              0
mortality_rate    0
O3                9
PM10              9
PM25              0
NO2               0
T2M               0
dtype: int64

In [39]:
# Calculate mean for O3, PM10

mean_O3 = train['O3'].mean()

print(mean_O3)

mean_PM10 = train['PM10'].mean()

print(mean_PM10)


# Impute those values 

train.value_counts('O3', sort= True)
train.fillna({'O3':mean_O3}, inplace= True)

train.value_counts('PM10', sort=True)
train.fillna({'PM10':mean_PM10}, inplace=True)

# Final check for missing data
print("Missing values after imputation:")
print(train.isnull().sum())

45.325857290420785
13.712272153963248
Missing values after imputation:
Id                0
region            0
date              0
mortality_rate    0
O3                0
PM10              0
PM25              0
NO2               0
T2M               0
dtype: int64

In [40]:
train.shape[0]

18403

In [43]:
# Check proportion of target variable
print(train.target.value_counts() / train.shape[0])
"""
there is no target variable- should it be 
 print(train.value_counts() / train.shape[0]) 
or is it a different column name?
"""
# Check for any remaining missing values in the dataset
print(train.isnull().sum())

AttributeError: 'DataFrame' object has no attribute 'target'

In [28]:
# Let's check the 'target' variable (values in the 'target' column) to investigate if this data is imbalanced or not.

# check proportions % of target variable (there are only 2 unique values, 
# so we should get a % split of these values in our dataset)
train.target.value_counts()/train.shape[0]

AttributeError: 'DataFrame' object has no attribute 'target'

<div class="alert alert-block alert-info">
<b>75% of the data set belongs to less than 50K class. This means that even if we take a rough guess of target prediction as less than 50K, we'll get 75% accuracy.</b>
Let's create a cross tab of the target variable with education. With this, we'll try to understand the influence of education on the target variable.
</div>

In [44]:
pd.crosstab(train.education, train.target,margins=True)/train.shape[0]

AttributeError: 'DataFrame' object has no attribute 'education'



### FINDINGS: 

__out of 75% people with <=50K salary:__ 

- 27% people are high school graduates, which is correct as people with lower levels of education are expected to earn less. 

__out of 25% people with >=50K salary:__ 

- 6% are bachelors and 5% are high-school grads. ==> _this pattern seems to be a matter of concern! We have to consider more variables before coming to a conclusion._

## SCIKIT

- Let's try to utilise the mighty SciKit library for the next step. 

- __IMPORTANT: Scikit accepts data in numeric format! It means that we need to convert the character variables into numeric.__  


- To do our conversion, we will use the _labelencoder_ function.

- __IMPORTANT: In label encoding, each unique value of a variable gets assigned a number.__ Example: a variable fruit has four values: 'apple', 'banana', 'kiwi', 'melon'. Label encoding this variable will return output as: apple = 2 banana = 0 kiwi = 1 melon = 3

In [45]:
# let's encode all object type variables

from sklearn import preprocessing
label_encoders = {}

for x in train.columns:
    if train[x].dtype == 'object':
        lbl = preprocessing.LabelEncoder() # encoding
        lbl.fit(list(train[x].values)) # fitting the model
        train[x] = lbl.transform(list(train[x].values))
        label_encoders[x] = lbl

In [46]:
# mapping the values to variables from the above

for col, le in label_encoders.items():
    print(f"Column: {col}")
    for idx, class_ in enumerate(le.classes_):
        print(f"{class_} -> {idx}")

Column: region
E12000001 -> 0
E12000002 -> 1
E12000003 -> 2
E12000004 -> 3
E12000005 -> 4
E12000006 -> 5
E12000007 -> 6
E12000008 -> 7
E12000009 -> 8

In [47]:
# examine the dataset again to see how our encoding changes have been applied

train.head(20)

,Id,region,date,mortality_rate,O3,PM10,PM25,NO2,T2M
0,1,0,2007-01-02,2.264,42.358,9.021,7.487,16.119,278.138
1,2,0,2007-01-03,2.030,49.506,5.256,7.487,16.119,281.745
2,3,0,2007-01-04,1.874,51.101,4.946,7.487,16.119,280.523
3,4,0,2007-01-05,2.069,47.478,6.823,7.487,16.119,280.421
4,5,0,2007-01-06,1.913,45.226,7.532,7.487,16.119,278.961
5,6,0,2007-01-07,1.756,53.226,5.607,7.487,16.119,281.504
6,7,0,2007-01-08,1.756,48.177,4.674,7.487,16.119,279.519
7,8,0,2007-01-09,2.147,56.917,5.979,7.487,16.119,281.866
8,9,0,2007-01-10,2.186,45.757,3.433,7.487,16.119,278.044
9,10,0,2007-01-11,1.249,56.388,6.159,7.487,16.119,280.358
10,11,0,2007-01-12,2.342,56.014,5.962,7.487,16.119,282.104
11,12,0,2007-01-13,1.444,55.656,5.122,7.487,16.119,280.847
12,13,0,2007-01-14,1.678,54.312,4.990,7.487,16.119,279.163
13,14,0,2007-01-15,2.186,56.654,5.590,7.487,16.119,280.905
14,15,0,2007-01-16,1.795,33.107,7.525,7.487,16.119,276.678
15,16,0,2007-01-17,1.678,50.589,5.812,7.487,16.119,278.028
16,17,0,2007-01-18,2.576,45.819,3.722,7.487,16.119,278.681
17,18,0,2007-01-19,2.030,49.809,8.244,7.487,16.119,280.647
18,19,0,2007-01-20,1.756,49.056,6.767,7.487,16.119,278.567
19,20,0,2007-01-21,1.834,47.730,3.846,7.487,16.119,275.684